body{
    /* centre le jeu dans l'écran */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

#game{
    background-color: #111;
<<<<<<< Updated upstream
    --w:4961px;
=======
    --w:1654px;
>>>>>>> Stashed changes
    --h:964px;
}


